@import "common-variables";
@import "public";

html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  font-size: $font-size-medium;
  line-height: 1;
  overflow: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
select,
ul,
ol {
  margin: 0;
  padding: 0;
}